/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c2c2c259;
}
.author-img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
#ul-container{
    list-style-type: none;
}
#ul-container li{
    padding: 5px;

}
.no-background{
    border:none;
    background-color: Transparent;
}